<div class="row page-content">
    <h1>Create New Account</h1>
    <div class="row control-group">
        <div class="col-sm-3">
            <label for="userName">Email Address </label>
        </div>
        <div class="col-sm-3">
            <input type="text" name="emailAddress" ng-model="emailAddress" />
        </div>
    </div>
    <div class="row control-group">
        <div class="col-sm-3">
            <label for="password">Password</label>
        </div>
        <div class="col-sm-3">
            <input type="password" name="password" ng-model="password" />
        </div>
    </div>
    <div class="row control-group">
        <div class="col-sm-3">
            <label for="password">Confirm Password</label>
        </div>
        <div class="col-sm-3">
            <input type="password" name="confirmPassword" ng-model="confirmPassword" />
        </div>
    </div>
    <div class="row control-group">
        <div class="col-sm-3">
            <button class="btn btn-default" ng-click="create()">Create</button>
        </div>
        <div class="col-sm-3">
            <button ng-click="cancel()" class="btn btn-link">Cancel</button>
        </div>
    </div>
</div>